<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.daum.net" />
    <meta property="og:title" content="Seadronix" />
    <meta property="og:site_name" content="Seadronix" />
    <meta property="og:description" content="해양강국을 꿈꾸는 ~~~" />
    <meta
      property="og:image"
      content="../images/layout/main-overview-logo_re.jpg"
    />
    <title>Seadronix | AI | Autonomous ship | Smart port</title>
    <link
      rel="shortcut icon"
      href="../images/layout/favicon.png"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- google 웹폰트 -->
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css"
    />
    <!-- pretendard -->
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/aos.css" />
    <link rel="stylesheet" href="../css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../css/layout.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/contents.css" />
    <script src="../js/aos.js"></script>
    <script src="../js/swiper-bundle.min.js"></script>
  </head>
  <body>
    <header class="header">
      <h1 class="logo">
        <a href="">
          <img src="/seadronix-server/public/images/layout/logo-dark.svg" alt="" />
          <img src="/seadronix-server/public/images/layout/logo-light.svg" alt="" />
        </a>
      </h1>
      <nav class="gnb">
        <h2 class="hidden">global navigation</h2>
        <ul class="list">
          <li>
            <a href="" class="list__title">COMPANY</a>
            <ul class="depth02">
              <li><a href="/vision">Vision</a></li>
              <li><a href="/search">Leader Ship</a></li>
              <li><a href="">Partners</a></li>
              <li><a href="">History</a></li>
              <li><a href="/location">Certificat</a></li>
            </ul>
          </li>
          <li>
            <a href="" class="list__title">TECHNOLOGY</a>
            <ul class="depth02">
              <li><a href="">Overview</a></li>
              <li><a href="">AI</a></li>
              <li><a href="">Sensor Fusion</a></li>
              <li><a href="">Publication</a></li>
              <li><a href="">Patent</a></li>
            </ul>
          </li>
          <li>
            <a href="" class="list__title">PRODUCT</a>
            <ul class="depth02">
              <li><a href="">Overview</a></li>
              <li><a href="">AVISS</a></li>
              <li><a href="">NAVISS</a></li>
              <li><a href="">Case Study</a></li>
            </ul>
          </li>
          <li>
            <a href="" class="list__title">PRESS</a>
            <ul class="depth02">
              <li><a href="">News</a></li>
              <li><a href="">Video</a></li>
            </ul>
          </li>
          <li>
            <a href="" class="list__title">CAREER</a>
            <ul class="depth02">
              <li><a href="">Culture</a></li>
              <li><a href="">Benefits</a></li>
              <li><a href="">Recruitement</a></li>
            </ul>
          </li>
          <li><a href="" class="list__title">CONTACT</a></li>
        </ul>
      </nav>
      <div class="language">
        <nav class="lang-navigation">
          <ul class="lang-menu">
            <li class="menu-item-ko"><a href="" class="active">KO</a></li>
            <li class="menu-item-en"><a href="" class="active">EN</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- header end -->
    <!-- bem (block__element--modifier) -->
